<h2>Opening and closing files</h2>
<div  class = "row">
  <div id="media" class="span">
  <object id="csSWF" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="500" height="570" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0">
    <param name="src" value="openclose/media/player.swf"/>
    <param name="bgcolor" value="#1a1a1a"/>
    <param name="quality" value="best"/>
    <param name="allowScriptAccess" value="always"/>
    <param name="allowFullScreen" value="true"/>
    <param name="scale" value="showall"/>
    <param name="flashVars" value="thumb=openclose/media/FirstFrame.png&containerwidth=840&containerheight=570&content=openclose.mp4&autostart=false&blurover=false&autohide=true&smoothing=true&showbranding=false&showstartscreen=true"/>
    <embed name="csSWF" src="openclose/media/player.swf" width="840" height="570" bgcolor="#1a1a1a" quality="best" allowScriptAccess="always" allowFullScreen="true" scale="showall" flashVars="thumb=openclose/media/FirstFrame.png&containerwidth=840&containerheight=570&content=openclose.mp4&autostart=false&blurover=false&autohide=true&smoothing=true&showbranding=false&showstartscreen=true&color=0x1A1A1A,0x1A1A1A" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
  </object>
</div>
          <div class="span6">
             hello kitty
            <h3>Shortcuts</h3>
          </div>
</div>
